body {
    display: grid;
    grid: auto-flow min-content / 1fr;
    grid-template-rows: auto 100px auto 100px;
    grid-template-areas: "header"
                         "nav   "
                         "aside "
                         "aside "
                         "main  "
                         "main  "
                         "main  "
                         "main  "
                         "footer";
    grid-gap: 1em;
    margin: 1em;
}

@media screen and (min-width: 475px) {
    body {
        grid: auto-flow min-content / 2fr 1fr;
        grid-template-rows: auto 100px auto 100px;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "header nav"
                             "main   main  "
                             "main   main  "
                             "main   main  "
                             "main   main  "
                             "main   main  "
                             "main   main  "
                             "main   main  "
                             "main   main  "
                             "aside  aside  "
                             "footer footer";
    }
}

@media screen and (min-width: 650px) {
    body {
        grid: auto-flow min-content / 1fr 2fr;
        grid-auto-rows: minmax(auto,auto);
        grid-template-areas: "header header"
                             "nav   nav"
                             "aside  main  "
                             "aside  main  "
                             "footer footer";
    }
}


@media screen and (min-width: 2550px) {
    body {
        grid: auto-flow min-content / 1fr 2fr;
        grid-auto-rows: minmax(auto,auto);
        grid-template-areas: "header header"
                             "nav   nav"
                             "aside  main  "
                             "aside  main  "
                             "footer footer";
    }
}

header { grid-area: header; }
aside { grid-area: aside; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }

* {
    font-family: 'Bellota', sans-serif; font-size: 22px;;
    box-sizing: border-box;
    /* background: #F2DCCB; */
}

html {
    margin: 0;
}

body {
   display: grid;
   grid-template-rows: auto 100px auto 100px;
   grid-template-columns: 1fr 3fr;
   grid-gap: 1em;
   background: url('https://github.com/Coro-Cota/taskPlanter/blob/master/Images/potted%20cacti.jpg?raw=true');
   background-size: cover;
   background-attachment: fixed;
}

main, aside, header {
   padding: 1em;
   border: 2px solid #28635A;
   border-bottom: 5px solid #28635A;
   border-radius: 0.5em;
}

header {
    text-align: center;
}



/* nav section */

nav {
   text-align: center;
   padding: 1em;
   border: 2px solid #28635A;
   border-bottom: 5px solid #28635A;
   border-radius: 0.5em;
   background: #F2DCCB;

}

nav ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    margin-top: -5px;
    padding: 0;
    background: #F2DCCB;
}

nav ul li{
    padding:10px;
    width: 90%;
    border-radius: 0.5em;
    background: #28635A;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25vw;
    width: 90%;
    padding:10px;
    color: white;
    background: #28635A;
}

/* nav section end */

/* plant growth section with image of plant */

aside {
   text-align: center;
   background: #F2DCCB;
}

aside img {
   max-width: 100%;
   height: auto;
   padding: 0 1em;
   object-fit: cover;
   transform: scale(1);
}

aside p {
   text-align: center;
}

/* plant area end */

/* main task area start */

main {
    background: #E38251;
    grid-template-rows: auto;
}

/* task input section */

.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
  
.form-inline label {
    margin: 5px 10px 5px 0;
}
  
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5em;
}
  
.form-inline button {
    padding: 10px 20px;
    background-color: #8EBAA8;
    border: 1px solid #ddd;
    color: #806043;
    cursor: pointer;
    border-radius: 0.5em;
}
  
.form-inline button:hover {
    background-color: #28635A;
    color: white;
}

/* task input section end */
/* task entries start */

.task-name {
    font-family: 'Beth Ellen', sans-serif;
    font-size: 30px;
}

/* task list section */

.task-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.task-name {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    width: 50%;
    border-radius: 0.5em;
}

.edit-task-wrapper {
    display:none;
}

.inputValue{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    width: 70%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5em;
}

.update{
    border-radius: 0.5em;
    background-color: #8EBAA8;
    margin-top: 7px;
}

.edit-task-name {
    border-radius: 0.5em;
    background-color: #8EBAA8;
    margin-top: 7px;
}

.task-priority {
    padding: 5px 10px;
    margin-top: 27px;
    background-color: #8EBAA8;
    border: 1px solid #ddd;
    color: #806043;
    cursor: pointer;
    border-radius: 0.5em;
}

.btns-container {
    display: flex;
    margin: 5px;
    border-radius: 0.5em;
    padding: 10px 20px;
    border: none;
    color: #806043;
    cursor: pointer;
    border-radius: 0.5em;
    
}

#plus{
    border-radius: 0.5em;
    height: 33px;
    width: 26px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #8EBAA8;

}

#minus{
    border-radius: 0.5em;
    height: 33px;
    width: 26px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #8EBAA8;
}


.deleteTask {
    border-radius: 0.5em;
    background-color: #8EBAA8;
    margin-top: 7px;
}

@media (max-width: 800px) {
    /* task input section for responsive */
    .form-inline input {
        width: 100%;
        margin: 10px 0;
    }
        
    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
    /* task input section for responsive end*/
}

@media screen and (min-width: 2550px) {
    nav ul li a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.45em;
        width: 90%;
        padding:10px;
        color: white;
        background: #28635A;
    }

}
